<mat-toolbar class="toolbarNav">
  <button mat-flat-button routerLink="/top-artists" routerLinkActive="active-link">
    <mat-icon>home</mat-icon>
    <span>Home</span>
  </button>
  <button mat-flat-button routerLink="/top-tracks" routerLinkActive="active-link">
    <mat-icon>account_balance_wallet</mat-icon>
    <span>Wallet</span>
  </button>
  <button mat-flat-button routerLink="/history" routerLinkActive="active-link">
    <mat-icon>card_giftcard</mat-icon>
    <span>Promotion</span>
  </button>
  <button mat-flat-button routerLink="/history" routerLinkActive="active-link">
    <mat-icon> phone</mat-icon>
    <span>Service</span>
  </button>
  <button mat-flat-button routerLink="/history" routerLinkActive="active-link">
    <mat-icon>account_box</mat-icon>
    <span>Me</span>
  </button>
</mat-toolbar>
